@import "./variables/global-variables";
@import "./aem/aem-grid";
@import "./variables/reset";
@import "./variables/mixin";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  opacity: 1;
  font-family: "Proxima Nova", m, sans-serif;
  overflow-x: hidden;
  background-color: #e0e3e8;
}

/* banner */
.offer-banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: $cape-palliser-a67744 0% 0% no-repeat padding-box;
  background: #a67744 0% 0% no-repeat padding-box;
  opacity: 1;

  .text-container {
    text-align: center;
  }

  .offer-text {
    padding: {
      top: 10px;
      bottom: 10px;
    }
    font: $unnamed-font-style-normal normal medium 16px/20px
      $unnamed-font-family-proxima-nova;
    letter-spacing: $unnamed-character-spacing-0;
    color: $beige-f7f5e6;
    text-align: center;
    font: normal normal medium 16px/20px Proxima Nova;
    letter-spacing: 0;
    color: #f7f5e6;
  }
}

/* Header for Desktop*/
.header {
  .container {
    @include myFlex(column, "", "");
    width: 1196px;
    height: 84px;
    color: $oxford-blue-354e57;
    color: #354e57;
    margin: 20px 0 20px 30px;

    li {
      list-style-type: none;
      letter-spacing: 0.8px;
      color: $oxford-blue-354e57;
      color: #354e57;
      padding: 5px 15px 4px 16px;

      &:hover {
        background-color: $athens-gray-eef2f4;
        @include fadeInTransition(background-color);
      }
    }

    a {
      text-decoration: none;
      color: $oxford-blue-354e57;
      color: #354e57;
    }

    .main-menu {
      @include myFlex(row, space-between, "");
      padding-top: 20px;

      .left-menu {
        width: auto;
        font: $unnamed-font-style-normal normal $unnamed-font-weight-bold 12px/14px
          $unnamed-font-family-proxima-nova;
        color: $oxford-blue-354e57;
        text-align: left;
        font: normal normal bold 12px/14px Proxima Nova;
        letter-spacing: 0.6px;
        color: #354e57;
        text-transform: uppercase;
        opacity: 1;
        @include myFlex(row, space-between, "");
      }

      .mobile-navbar-btn {
        display: none;
        background-color: transparent;
        cursor: pointer;

        .mobile-nav-icon {
          width: 40px;
          height: 40px;

          &[name="close-outline"] {
            display: none;
          }
        }
      }

      .logo {
        text-align: left;
        letter-spacing: 1.6px;
        color: #293d45;
        opacity: 0.9;
        margin-top: -20px;
        font: {
          size: 32px;
          family: "Somatic-Rounded", sans-serif;
          weight: bold;
        }
      }

      .right-menu {
        font: $unnamed-font-style-normal normal $unnamed-font-weight-bold 12px/14px
          $unnamed-font-family-proxima-nova;
        color: $oxford-blue-354e57;
        text-align: left;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        opacity: 1;
        padding-right: 20px;
        @include myFlex(row, space-between, "");
      }
    }

    .sub-menu {
      @include myFlex(row, center, center);
      padding-top: 20px;
    }
  }
}

/* hero-banner */
.hero-banner {
  @include myFlex(row, space-between, center);
  background: transparent url("../assets/images/updated_Header.png") 0% 0%
    no-repeat padding-box;
  background-position: top -10px right -160px;
  top: 10px;
  left: 0;
  width: 100%;
  height: 762px;
  .left-banner {
    margin: -45px 0 0 139px;
    width: 544px;
    height: 309px;
    .banner-header-1 {
      width: 50px;
      height: 28px;
      background: $alabasterr-f7f7f7 0% 0% no-repeat padding-box;
      background: #f7f7f7 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-bottom: 14px;
      h3 {
        font-size: 12px;
        padding: 9px 12px 7px 11px;
      }
    }
    .banner-header-2 {
      height: 116px;
      margin-bottom: 14px;
      h1 {
        font: $unnamed-font-style-normal normal
         $unnamed-font-weight-bold $unnamed-font-size-48 /
         $unnamed-line-spacing-58 $unnamed-font-family-proxima-nova;
        letter-spacing: $unnamed-character-spacing-0;
        color: $oxford-blue-354e57;
        text-align: left;
        font: normal normal bold 48px/58px Proxima Nova;
        letter-spacing: 0;
        color: #354e57;
        opacity: 1;
      }
    }
    .banner-text-1 {
      width: 441px;
      height: 68px;
      margin-bottom: 28px;
      p {
        font: $unnamed-font-style-normal normal
          $unnamed-font-weight-normal / $unnamed-line-spacing-24
          $unnamed-font-family-proxima-nova;
        letter-spacing: $unnamed-character-spacing-0;
        color: $oxford-blue-354e57;
        text-align: left;
        font: normal normal normal 16px/24px Proxima Nova;
        letter-spacing: 0;
        color: #354e57;
        opacity: 1;
      }
    }
    .banner-button {
      width: 175px;
      opacity: 1;
      button {
        width: 173px;
        height: 35px;
        padding: 8px 40px 9px 39px;
        font: $unnamed-font-style-normal normal
          $unnamed-font-weight-bold $unnamed-font-size-14 /
          $unnamed-line-spacing-17 $unnamed-font-family-proxima-nova;
        letter-spacing: $unnamed-character-spacing-0;
        color: $rangitoto-2e2e22;
        text-align: left;
        font: normal normal bold 14px/17px Proxima Nova;
        letter-spacing: 0;
        color: #2e2e22;
        opacity: 1;
        background-color: transparent;
        border: 1px solid #354e57;

        &:hover {
          @include fadeInTransition(background-color);
          background-color: #e4ecef;
        }
      }
    }
  }
  .right-banner {
    height: inherit;
    .banner-image-container {
      top: 188px;
      left: 686px;
      width: 527px;
      height: inherit;
      opacity: 1;
      background: transparent url("../assets/images/ezcema.png") 0% 0% no-repeat
        padding-box;
      background-position: top 130px right 155px;
      background-size: 527px;
      z-index: 2;
    }

    .plant {
      background: transparent url("../assets/images/plant.png") 0% 0% no-repeat
        padding-box;
      background-size: 440px;
      width: 280px;
      height: 300px;
      position: absolute;
      margin: -550px 0 0 -265px;
      z-index: 1;
    }

    .plant-1 {
      background: transparent url("../assets/images/plant-1.png") 0% 0%
        no-repeat padding-box;
      background-size: 340px;
      background-position: top -20px right -57px;
      width: 130px;
      height: 200px;
      position: absolute;
      margin: -650px 0 0 170px;
    }
  }
}

/* secondary-banner */
.secondary-banner {
  @include myFlex(column, space-between, center);
  width: 1394px;
  height: 141px;
  border: 1px solid var(--como-547665);
  border: 1px solid #547665;
  background: #eef3f4 0% 0% no-repeat padding-box;
  opacity: 1;
  header {
    width: 364px;
    height: 34px;
    margin: 43px 503px 10px 399px;
    h2 {
      font: $unnamed-font-style-normal normal
     $unnamed-font-weight-bold $unnamed-font-size-28 /
     $unnamed-line-spacing-34 $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: center;
      letter-spacing: 0;
      opacity: 1;
    }
  }
  .sub-header {
    width: 389px;
    height: 19px;
    margin: 6px 490px 39px 387px;
    h5 {
      font: $unnamed-font-style-normal normal
     $unnamed-font-weight-normal 16px/20px
     $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: center;
      font: normal normal normal 16px/20px Proxima Nova;
      letter-spacing: 0;
      color: #354e57;
      opacity: 1;
    }
  }
}

/* image-tiles */
.image-tiles {
  width: 1366px;
  height: 1160px;
  background: $alabasterr-f7f7f7 0% 0% no-repeat padding-box;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
  .container {
    @include myFlex(column, center, center);
    width: 912px;
    height: 776px;
    margin: 191px 190px 191px 190px;
    header {
      @include myFlex(column, center, center);
      h1 {
        width: 364px;
        height: 34px;
        font: $unnamed-font-style-normal normal $unnamed-font-weight-bold
          $unnamed-font-size-28/$unnamed-line-spacing-34
          $unnamed-font-family-proxima-nova;
        letter-spacing: $unnamed-character-spacing-0;
        color: $oxford-blue-354e57;
        font-size: 28px;
        text-align: center;
        letter-spacing: 0;
        opacity: 1;
        margin: -160px 279px 12px 269px;
      }
      h5 {
        width: 537px;
        height: 20px;
        font: $unnamed-font-style-normal normal $unnamed-font-weight-normal 16px /
          $unnamed-line-spacing-24 $unnamed-font-family-proxima-nova;
        letter-spacing: $unnamed-character-spacing-0;
        color: $oxford-blue-354e57;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        opacity: 1;
      }
    }

    .image-container {
      width: 912px;
      @include myFlex(column, center, center);
      section {
        @include myFlex(row, "", "");
        .card {
          width: 271px;
          height: 271px;
          margin-top: 80px;
          text-align: center;
          h1 {
            margin-top: 280px;
            font: $unnamed-font-style-normal normal $unnamed-font-weight-bold
              $unnamed-font-size-14/$unnamed-line-spacing-17
              $unnamed-font-family-proxima-nova;
            font-size: 14px;
            letter-spacing: $unnamed-character-spacing-0;
            color: $oxford-blue-354e57;
            text-align: center;
            letter-spacing: 0;
          }

          p {
            margin-top: 10px;
            font: $unnamed-font-style-normal normal $unnamed-font-weight-normal
              12px/16px $unnamed-font-family-proxima-nova;
            font-size: 12px;
            letter-spacing: $unnamed-character-spacing-0;
            color: $rangitoto-2e2e22;
            text-align: center;
            letter-spacing: 0;
            opacity: 1;
          }
        }
        .cacao {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png")
            0 650px;
        }
        .Honey {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png")
            260px 665px;
        }
        .Mint {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png")
            260px 10px;
        }
        .coconut-root {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png") -10px
            350px;
        }
        .Flour {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png")
            260px 350px;
        }
        .Cacao-yellow {
          background: url("../assets/images/138-1380767_transparent-ingredients-png-pizza-ingredients-png-png-download-1.png") -20px
            20px;
        }
      }
    }
  }
}

/* feature-banner */
.feature-banner {
  @include myFlex(row, "", center);
  width: 1366px;
  height: 234px;
  padding: 56.5px 295px 60px 295px;
  background: $athens-gray-eef2f4 0% 0% no-repeat padding-box;
  background: #eef2f4 0% 0% no-repeat padding-box;
  opacity: 1;

  .container {
    @include myFlex(row, space-between, center);
    width: 776px;
    height: 118px;
    .left,
    .center,
    .right {
      @include myFlex(column, center, center);
      width: 146px;
    }
    .icon {
      width: 30px;
      height: 30px;
      opacity: 1;
      margin-bottom: 21px;
      img {
        opacity: 1;
      }
    }
    h1 {
      width: 146px;
      height: 40px;
      font: $unnamed-font-style-normal normal 600 16px/19px
        $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: center;
      font: normal normal 600 16px/19px Proxima Nova;
      letter-spacing: 0;
      color: #354e57;
      opacity: 1;
      margin-bottom: 12px;
    }
    a {
      width: 75px;
      height: 15px;
      font: $unnamed-font-style-normal normal $unnamed-font-weight-normal 12px/15px
        $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: center;
      text-decoration: underline;
      font: normal normal normal 12px/15px Proxima Nova;
      letter-spacing: 0;
      color: #354e57;
    }
  }
}

/* NewsLetter */
.newsletter {
  @include myFlex(row, "", "");
  width: 1366px;
  height: 148px;
  background: $white-ffffff 0% 0% no-repeat padding-box;
  border: 1px solid $oxford-blue-354e57;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #354e57;
  opacity: 1;

  header {
    width: 202px;
    height: 78px;
    margin: 35px 72px 35px 137px;

    h1 {
      font: $unnamed-font-style-normal normal $unnamed-font-weight-bold
        $unnamed-font-size-32/$unnamed-line-spacing-38
        $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: left;
      font: normal normal bold 32px/38px Proxima Nova;
      letter-spacing: 0;
      color: #354e57;
      opacity: 1;
    }
  }
  .line {
    border-left: 1px solid $oxford-blue-354e57;
    height: 78px;
    margin: 35px 80px 35px 0;
    text-align: center;
  }
  .text-container {
    width: 304px;
    height: 40px;
    margin: 54px 114px 54px 0;
    p {
      font: $unnamed-font-style-normal normal $unnamed-font-weight-normal 16px/20px
        $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $oxford-blue-354e57;
      text-align: left;
      letter-spacing: 0;
      opacity: 1;
    }
  }

  .button-container {
    margin: 57px 138px 51px 0;
    width: 399px;
    height: 40px;
    border: 1px solid #956a53;
    opacity: 1;

    input {
      background-color: transparent;
      border: none;
      height: 40px;
      width: 250px;
      float: left;
      outline: none;
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }

    button {
      width: 112px;
      height: 40px;
      float: right;
      background: $cape-palliser-a67744 0% 0% no-repeat padding-box;
      background: #a67744 0% 0% no-repeat padding-box;
      border: 1px solid #956a53;
      font: $unnamed-font-style-normal normal $unnamed-font-weight-bold
        $unnamed-font-size-14/$unnamed-line-spacing-17
        $unnamed-font-family-proxima-nova;
      letter-spacing: $unnamed-character-spacing-0;
      color: $white-ffffff;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      margin-right: -2px;
    }
  }
}

/* Mobile responsive */
@media (min-width: 320px) and (max-width: 424px) {
  .offer-banner {
    height: auto;
    padding: 10px;
  }

  /* header for Mobile*/
  .header {
    .container {
      @include myFlex(column, "", "");
      margin: 31px 21px 10px 22px;
      width: 332px;
      height: 25px;
      li {
        padding: 0 5px 0 30px;
      }

      .main-menu {
        @include myFlex(row, space-between, "");
        height: 25px;
        width: 332px;
        margin: 11px 21px 0 22px;

        .left-menu {
          display: none;
        }

        .mobile-navbar-btn {
          display: block;
          width: 18.95px;
          height: 12.63px;
          margin-left: -22px;
          margin-top: -40px;
          .mobile-nav-icon {
            width: 30px;
            &[name="close-outline"] {
              display: none;
            }
          }
        }

        .logo {
          @include myFlex(row, "", baseline);
          width: 66px;
          height: 25px;
          h1 {
            margin: -15px 0 0 -45px;
            color: #293d45;
            font: {
              size: 25px;
              family: $unnamed-font-family-somatic-rounded, sans-serif;
              weight: bold;
            }
            letter-spacing: 1.25px;
            text-align: left;
            opacity: 1;
          }
        }

        .right-menu {
          margin: -25px 0 0 0;
          li[name="login"] {
            display: none;
          }
          li {
            a {
              padding: 0 0 0 0;
              font: {
                size: 12px;
                weight: bold;
                family: $unnamed-font-family-proxima-nova;
              }
              letter-spacing: 0.6px;
              text-transform: uppercase;
              .search-icon {
                width: 8.2px;
                height: 8.2px;
                margin: 0 -70px 0px 0px;
              }
            }
          }
        }
      }

      .sub-menu {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        overflow: scroll;
        position: fixed;
        padding: 20px 0 184px 43px;

        background-color: $alabasterr-f7f7f7;
        color: $oxford-blue-354e57;
        font-size: 24px;
        @include myFlex(column, "", flex-start);
        padding: 130.02px 0 0 57px;
        margin-top: 30px;
        z-index: 999;
        // animation
        transform: translateX(-100%);
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        .sub-menu-item {
          font: {
            size: 24px;
            family: $unnamed-font-family-proxima-nova;
            weight: bold;
          }
          color: $oxford-blue-354e57;
          opacity: 0.9;
          padding-bottom: 45px;
          margin-left: -10px;
          letter-spacing: 1.2px;
        }
      }

      .main-menu {
        &.active {
          padding: 90.02px 10px 30px 47px;
          margin: 0 10px 0 0;
          background-color: $alabasterr-f7f7f7;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          overflow: hidden;
          position: fixed;
          z-index: 999;
          transform: translateX(0);
          transition: all 0.3s linear;
          .mobile-navbar-btn {
            display: block;
            margin-left: 7px;
            .mobile-nav-icon {
              &[name="close-outline"] {
                display: block;
                visibility: visible;
                margin-top: 3px;
              }
              &[name="menu-outline"] {
                display: none;
              }
            }
          }

          .logo {
            visibility: hidden;
          }

          .right-menu {
            margin: -25px 0 -20px -10px;
          }
        }
      }

      .left-menu {
        &.active {
          font-size: 12px;
          font-weight: bold;
          font: normal normal bold 12px/14px Proxima Nova;
          padding: 100px 0 184px 0;
        }
      }

      .sub-menu {
        &.active {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          padding-left: 50px;
          font-weight: 500;
          padding: 400px 50px 10px 37px;
        }
      }
    }
  }

  /* hero-banner for Mobile*/
  .hero-banner {
    @include myFlex(column-reverse, space-between, center);
    background-position: top -10px right -130px;
    // background-size:contain;
    background-size: 850px;
    .left-banner {
      margin: -45px 0 0 139px;
      width: 544px;
      height: 309px;
      .banner-header-1 {
        display: none;
      }
      .banner-header-2 {
        height: 116px;
        width: 333px;
        margin: -90px 35px 4px 35px;
      }
      .banner-text-1 {
        width: 334px;
        height: 99px;
        margin-bottom: 28px;
        margin: 4px 20px 18px 35px;
      }
      .banner-button {
        margin: 18px 113px 21px 113px;
        width: 175px;
        button {
          width: 173px;
          height: 35px;
        }
      }
    }
    .right-banner {
      height: inherit;
      .banner-image-container {
        width: 289.57px;
        height: 289.57px;
        background-position: top 10px right -5px;
        background-size: 287px;
        margin-top: 55px;
      }

      .plant {
        background-size: 320px;
        background-position: top -10px right -120px;
        width: 140px;
        height: 250px;
        margin: -265px 0 0 -40px;
        z-index: 1;
      }

      .plant-1 {
        background-size: 186px;
        background-position: top 53px right 18px;
        width: 120px;
        height: 220px;
        position: absolute;
        margin: -364px 0 0 184px;
        z-index: 1;
      }
    }
  }

  /* secondary-banner */
  .secondary-banner {
    @include myFlex(column, center, center);
    height: 219px;
    width: 100%;
    opacity: 1;
    header {
      width: 194px;
      height: 104px;
      margin: 43px 399px 10px 399px;

      h2 {
        font-weight: bold;
      }
    }
    .sub-header {
      width: 239px;
      height: 19px;
      align-items: center;
      margin: -30px 390px 39px 387px;

      h5 {
        font-weight: bold;
      }
    }
  }

  /* image-tiles */
  .image-tiles {
    width: 100%;
    height: 2492px;
    .container {
      @include myFlex(column, space-between, "");
      width: 100%;
      header {
        @include myFlex(column, space-between, center);
        width: 100%;
        h1 {
          width: 216px;
          height: 68px;
          text-align: center;
          letter-spacing: 0px;
          margin: 10px 90px 10px 60px;
        }
        h4 {
          width: 537px;
          height: 20px;
          text-align: center;
          opacity: 1;
          margin: 30px 63px 48px 34px;
        }
      }

      .image-container {
        width: 100%;
        @include myFlex(column, center, center);
        section {
          @include myFlex(column, "", "");
          .card {
            width: 271px;
            height: 271px;
            margin-top: 80px;
            margin-left: -40px;
            text-align: center;
            h1 {
              margin-top: 280px;
            }

            p {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  /* feature-banner for mobile */
  .feature-banner {
    @include myFlex(column, "", center);
    width: 100%;
    height: 677px;
    padding: 91px 111px 91.5px 115px;

    .container {
      @include myFlex(column, space-between, center);
      width: 149px;
      height: 494.5px;
      .icon {
        margin-bottom: 21px;
        img {
          width: 30.22px;
          height: 30.22px;
        }
      }
    }
  }

  /* Newsletter for mobile */
  .newsletter {
    @include myFlex(column, "", "");
    width: 100%;
    height: 403px;

    header {
      width: 202px;
      height: 78px;
      margin: 71px 152px 44px 21px;
      h1 {
        font: {
          size: 32px;
          weight: bold;
        }
        color: $oxford-blue-354e57;
      }
    }
    .line {
      border-top: 1px solid $oxford-blue-354e57;
      height: 78px;
      margin: 0 21px 35px 21px;
      text-align: center;
      opacity: 0.7;
    }
    .text-container {
      width: 304px;
      height: 40px;
      margin: 0 51px 40px 20px;
      p {
        font-size: 16px;
      }
    }

    .button-container {
      margin: 0 21px 90px 20px;
      width: 315px;

      input {
        height: 40px;
        width: 200px;
        float: right;
        padding-right: 10px;
      }

      button {
        float: left;
        margin-top: -2px;
      }
    }
  }
}

/* Tablet responsive */
@media (min-width: 425px) and (max-width: 988px) {
  .offer-banner {
    height: auto;
    padding: 10px;
  }

  /* header for Mobile*/
  .header {
    .container {
      @include myFlex(column, "", "");
      margin: 31px 21px 10px 22px;
      width: 332px;
      height: 25px;
      li {
        padding: 0 5px 0 30px;
      }

      .main-menu {
        @include myFlex(row, space-between, "");
        margin: 11px 21px 0 22px;

        .left-menu {
          display: none;
        }

        .mobile-navbar-btn {
          display: block;
          width: 18.95px;
          height: 12.63px;
          margin-left: -22px;
          margin-top: -40px;
          .mobile-nav-icon {
            width: 30px;
            &[name="close-outline"] {
              display: none;
            }
          }
        }

        .logo {
          @include myFlex(row, "", baseline);
          width: 66px;
          height: 25px;
          margin-left: 80px;
          h1 {
            margin: -15px 0 0 -45px;
            color: #293d45;
            font: {
              size: 25px;
              family: $unnamed-font-family-somatic-rounded, sans-serif;
              weight: bold;
            }
            letter-spacing: 1.25px;
            text-align: left;
            opacity: 1;
          }
        }

        .right-menu {
          margin: -28px 0 0 470px;
          li[name="login"] {
            display: none;
          }
        }
      }

      .sub-menu {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        overflow: scroll;
        position: fixed;
        padding: 20px 0 184px 43px;

        background-color: $alabasterr-f7f7f7;
        color: $oxford-blue-354e57;
        font-size: 24px;
        @include myFlex(column, "", flex-start);
        padding: 130.02px 0 0 57px;
        margin-top: 30px;
        z-index: 999;
        // animation
        transform: translateX(-100%);
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        .sub-menu-item {
          font: {
            size: 24px;
            family: $unnamed-font-family-proxima-nova;
            weight: bold;
          }
          color: $oxford-blue-354e57;
          opacity: 0.9;
          padding-bottom: 45px;
          margin-left: -10px;
          letter-spacing: 1.2px;
        }
      }

      .main-menu {
        &.active {
          padding: 98.02px 10px 30px 47px;
          margin: 0 10px 0 0;
          background-color: $alabasterr-f7f7f7;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          overflow: hidden;
          position: fixed;
          z-index: 999;
          background-color: $alabasterr-f7f7f7;
          width: 100%;
          transform: translateX(0);
          transition: all 0.3s linear;
          .mobile-navbar-btn {
            display: block;
            margin-left: 20px;
            .mobile-nav-icon {
              &[name="close-outline"] {
                display: block;
                visibility: visible;
                margin-top: 3px;
              }
              &[name="menu-outline"] {
                display: none;
              }
            }
          }

          .logo {
            visibility: hidden;
          }

          .right-menu {
            margin: -25px 0px -20px -10px;
          }
        }
      }

      .left-menu {
        &.active {
          font-size: 12px;
          font-weight: bold;
          font: normal normal bold 12px/14px Proxima Nova;
          padding: 100px 0 184px 0;
        }
      }

      .sub-menu {
        &.active {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          padding-left: 50px;
          font-weight: 500;
          padding: 400px 50px 10px 57px;
        }
      }
    }
  }

  /* hero-banner for Mobile*/
  .hero-banner {
    @include myFlex(column-reverse, space-between, center);
    background-position: top -80px right -30px;
    background-size: 1100px;
    // background-size: fill;
    .left-banner {
      margin: 105px 0 0 139px;
      width: 544px;
      height: 309px;
      .banner-header-1 {
        display: none;
      }
      .banner-header-2 {
        height: 116px;
        width: 333px;
        margin: -90px 35px 4px 35px;
      }
      .banner-text-1 {
        width: 334px;
        height: 99px;
        margin-bottom: 28px;
        margin: 4px 20px 18px 35px;
      }
      .banner-button {
        margin: 36px 113px 42px 113px;
        width: 175px;
        button {
          width: 173px;
          height: 35px;
        }
      }
    }
    .right-banner {
      height: inherit;
      .banner-image-container {
        width: 289.57px;
        height: 289.57px;
        background-position: top 10px right -5px;
        background-size: 287px;
        margin-top: 55px;
      }

      .plant {
        background-size: 320px;
        background-position: top -10px right -120px;
        width: 140px;
        height: 250px;
        margin: -265px 0 0 -40px;
        z-index: 1;
      }

      .plant-1 {
        background-size: 180px;
        background-position: top 84px right 11px;
        width: 110px;
        height: 200px;
        position: absolute;
        margin: -385px 0 0 179px;
      }
    }
  }

  /* secondary-banner */
  .secondary-banner {
    @include myFlex(column, center, center);
    height: 219px;
    width: 100%;
    opacity: 1;
    header {
      width: 194px;
      height: 104px;
      margin: 43px 399px 10px 399px;

      h2 {
        font-weight: bold;
      }
    }
    .sub-header {
      width: 239px;
      height: 19px;
      align-items: center;
      margin: -30px 390px 39px 387px;

      h5 {
        font-weight: bold;
      }
    }
  }

  /* image-tiles */
  .image-tiles {
    width: 100%;
    height: 2492px;
    .container {
      @include myFlex(column, space-between, "");
      width: 100%;
      header {
        @include myFlex(column, space-between, center);
        width: 100%;
        h1 {
          width: 216px;
          height: 68px;
          text-align: center;
          letter-spacing: 0;
          margin: 10px 90px 10px 60px;
        }
        h4 {
          width: 537px;
          height: 20px;
          text-align: center;
          opacity: 1;
          margin: 30px 63px 48px 34px;
        }
      }

      .image-container {
        width: 100%;
        @include myFlex(column, center, center);
        section {
          @include myFlex(column, "", "");
          .card {
            width: 271px;
            height: 271px;
            margin-top: 80px;
            margin-left: -40px;
            text-align: center;
            h1 {
              margin-top: 280px;
            }

            p {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  /* feature-banner for mobile */
  .feature-banner {
    @include myFlex(column, "", center);
    width: 100%;
    height: 677px;
    padding: 91px 111px 91.5px 115px;

    .container {
      @include myFlex(column, space-between, center);
      width: 149px;
      height: 494.5px;
      .icon {
        margin-bottom: 21px;
        img {
          width: 30.22px;
          height: 30.22px;
        }
      }
    }
  }

  /* Newsletter for mobile */
  .newsletter {
    @include myFlex(column, "", "");
    width: 100%;
    height: 493px;

    header {
      width: 404px;
      height: 156px;
      margin: 71px 152px 44px 81px;
      h1 {
        font: {
          size: 45px;
          weight: bold;
        }
        color: $oxford-blue-354e57;
        line-height: 50px;
      }
    }
    .line {
      border-top: 1px solid $oxford-blue-354e57;
      height: 68px;
      margin: 0 78px 70px 78px;
      text-align: center;
      opacity: 0.6;
    }
    .text-container {
      width: 304px;
      height: 40px;
      margin: 0 78px 40px 78px;
      p {
        font-size: 16px;
      }
    }

    .button-container {
      margin: 0 78px 900px 78px;
      width: 315px;
      input {
        height: 40px;
        width: 200px;
        float: right;
        padding-right: 10px;
      }

      button {
        float: left;
        margin-top: -1px;
      }
    }
  }
}
