@mixin myFlex($flexDirection, $justifyContent, $alignItems ) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin fadeInTransition {
    // transition: <property> <duration> <timing-function> <delay>;
    transition: all 0.3s ease-out;
}